src/ontology/Thesaurus.owl
src/ontology/blazegraph-runner.log
src/ontology/blazegraph.jnl
src/ontology/ncit.owl.tmp
src/ontology/ncit-edit.ttl
src/ontology/ncit.owl
catalog-v001.xml

src/mappings/cl-filtered.tsv
src/mappings/uberon-filtered.tsv
src/mappings/uberon-previous-filtered.tsv
src/ontology/Neoplasm_Core.txt
src/ontology/bgee.ttl
src/ontology/coriell.ttl
src/ontology/import_extract.owl
src/ontology/ncbigene.ttl
src/ontology/ncit-bridge-to-cl.owl
src/ontology/ncit-bridge-to-uberon.owl
src/ontology/ncit-graph.jnl
src/ontology/ncit-negations.owl
src/ontology/ncit-oncotree.obo
src/ontology/ncit-oncotree.obo.tmp
src/ontology/ncit-oncotree.ttl
src/ontology/ncit-plus-negations.owl
src/ontology/ncit-plus-property-graph-redundant.ttl
src/ontology/ncit-plus-property-graph.ttl
src/ontology/ncit-plus.owl
src/ontology/ncit-property-graph-redundant.ttl
src/ontology/ncit-property-graph.ttl
src/ontology/ncit-uberon-previous-bridge.ofn
src/ontology/ncit.obo
src/ontology/ncit.obo.tmp
src/ontology/neoplasm-core.owl
src/ontology/neoplasm-hierarchy-report.txt
src/ontology/neoplasm-terms.txt
src/ontology/oncotree.nt
src/ontology/oncotree_terms.txt
src/ontology/plus-neoplasm.ttl
src/ontology/reactome.ttl
src/ontology/standard-neoplasm.ttl
src/ontology/tumor_types.txt
.DS_Store
src/ontology/tmp
src/ontology/kgcl-diff.md
src/ontology/ncit-plus-tmp.owl
